.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  font-family: "Glory", sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}
